<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.kerja_mudah">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarterAppMvvm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.job.JobLocationSearchingAnimationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2"/>
        <activity
            android:name=".ui.job.JobLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.job.JobDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.pdf.FormPdfActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quran.TafsirSurahActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.quran.SearchSurahActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.quran.SurahDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.quran.ListSurahActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.quran.QuranInformationActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.core.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.core.FaqDetailActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.FaqActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.LegalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.VPVerticalVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar3" />
        <activity
            android:name=".ui.service.ServiceOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.payment.PaymentLoadingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.payment.SelectPaymentMethodActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.payment.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.freelancer.RegisterFreelancerLoadingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.freelancer.RegisterFreelancerSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.freelancer.FreelancerDetailFormActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.freelancer.UploadDocumentFreelancerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.freelancer.SelectFreelancerCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.ExampleCameraActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.core.CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.core.CameraIdCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar3" />
        <activity
            android:name=".ui.core.SingleVideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false"
            android:theme="@style/NoActionBar4" />
        <activity
            android:name=".ui.freelancer.PagingFreelancerActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.core.BaseEmptyActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.chat.AllChatRoomActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.core.PreviewMultipleImageActivity"
            android:exported="false"
            android:theme="@style/NoActionBar3" />
        <activity
            android:name=".ui.core.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar3" />
        <activity
            android:name=".ui.core.GalleryActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.auth.RegistrationSuccessActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.chat.ChatRoomActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.service.DetailServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.freelancer.FreelancerReviewActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.freelancer.DetailFreelancerActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.landing_page.LandingPageActivity"
            android:exported="false"
            android:theme="@style/NoActionBar1" />
        <activity
            android:name=".ui.example.activity.ExampleActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.StarterAppMvvm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="192.168.1.14"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".core.receiver.CoreReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.fcm.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
todo
             Change MAPS API KEY FROM TESTING TO PRODUCTION
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDc3b6XgrNrUnP2CdXqROhy4jWNzekbmIU" />
    </application>

</manifest>